@model IEnumerable<CenedexUniversityWebSystem.Models.MainMenu>

@{
    ViewData["Title"] = "Menu Display";
}

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-info">
        <a class="navbar-brand font-weight-bolder" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-university" aria-hidden="true"></i>Cendex Uninversity</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="active">
                    <a class="nav-link text" asp-area=""
                       asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a>
                </li>

                @{
                    @if (Model != null)
                    {
                        foreach (MainMenu item in Model)
                        {


                            if (item.SubMenus != null) //Level one item has children so append them
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @item.MenuName
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        @foreach (var item2 in item.SubMenus)
                                        {
                                            <a class="dropdown-item" asp-area="" asp-controller="@item.MenuName" asp-action="@item2.SubMenuUrl">@item2.SubMenuName</a>

                                        }
                                    </div>
                                </li>

                            } @*End if.*@

                        } // End for.
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home"
                               asp-action="Privacy">Privacy</a>
                        </li>

                    } // End if
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home"
                               asp-action="Index">You have to add links!</a>
                        </li>
                    }
                }

            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>
</header>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
