@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4 text-center text-info text-uppercase">Welcome to Cenedex University</h1>
</div>
<div class="text-center">
    <h5>Learn From #1 Provider Of Higher Education To The Students.</h5>

    <p>Expert faculty and industry advisors work to shape a quality, relevant, and affordable on-campus and online education that responds to your needs.</p> 
</div>

<!-- Start features section -->
    <div class="container" id="mu-features">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-features-area">
                    <!-- Start Title -->
                    <div class="mu-title">
                        <h2 class="text-center">Our Features</h2>
                        <p>
                            The trend now is to "learn how to learn". As you know, the traditional functions of universities are teaching & mostly basic research. 
                            The teaching-learning process is continuously evaluated for its effectiveness. Feedback from students and relevant stakeholders is taken regularly.
                            Importantly, the students at Cenedex University are an integral part of the system and are treated as key partners in the teaching-learning process.
                            These activities are carried out by the academic staff. Teaching, research, assessment, technology development, invention and innovation, guiding young generation and advising the society.
                        </p>
                    </div>
                    <!-- End Title -->
                    <!-- Start features content -->
                    <div class="mu-features-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-4  col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-book text-info"></span>
                                    <h4>Professional Courses</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users text-info"></span>
                                    <h4>Expert Teachers</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-laptop text-info"></span>
                                    <h4>Online Learning</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-microphone text-info"></span>
                                    <h4>Audio Lessons</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-film text-info"></span>
                                    <h4>Video Lessons</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-certificate text-info"></span>
                                    <h4>Professional Certificate</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End features content -->
                </div>
            </div>
        </div>
    </div>
<!-- End features section -->





