@model CenedexUniversityWebSystem.Models.UserViewModel
@{
    ViewData["Title"] = "User Account";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="card">
    <div class="card-header"><h5><i class='fa fa-check-circle-o'></i> create new User</h5></div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save User</button>
                </form>
            </div>
        </div>
        <div class="container mt-4">
            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i><a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
